agung.json
[{"updatedAt":"2026-03-15T07:21:12.058Z","createdAt":"2026-03-15T06:39:33.114Z","id":"q5J2KJJUoVlcAvaS","name":"My workflow 2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-752,96],"id":"14a10621-0817-45d7-ab32-7b4bb185d092","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"delete","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[672,224],"id":"b8f41055-efcd-48b7-beb8-ff955f18c4bd","name":"Delete a workflow","credentials":{"n8nApi":{"id":"3FlS8UroXrYcV8iJ","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"ca6424eb-2998-433c-b3b6-a67d1b574b23","leftValue":"={{ $json.id }}","rightValue":"q5J2KJJUoVlcAvaS","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[224,368],"id":"afe06e75-4910-4e64-9beb-0d63c0658a9d","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1UCEoGcoJX9r2PZNhTQFtxeiym6HWWNUIj5o57b-RBJY/edit?gid=1113186123#gid=1113186123","mode":"url"},"sheetName":{"__rl":true,"value":955688694,"mode":"list","cachedResultName":"19-01-2026 21:38:25","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UCEoGcoJX9r2PZNhTQFtxeiym6HWWNUIj5o57b-RBJY/edit#gid=955688694"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-528,96],"id":"d6983f2d-8b06-45af-8299-5abc20fe0479","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"0qOTtG6WL8X6yP5q","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10483db8-9bec-4308-9b4b-cc0cccd7f0c4","name":"Keterangan","value":"={{ $json.Keterangan }}","type":"string"},{"id":"57d99c82-89b4-4e49-bba2-73832d0ce479","name":"Nama Workflow","value":"={{ $json['Nama Workflow'] }}","type":"string"},{"id":"de2e0ecf-3094-42c4-9914-a2f59252d417","name":"Id Drive","value":"={{ $json['Id Drive'] }}","type":"string"},{"id":"1d7f957c-6bd7-4f52-848d-cbb32a86363f","name":"Id Workflow n8n","value":"={{ $json['Link Workflow n8n'].split('/').pop() }}","type":"string"},{"id":"87103f18-7641-4baa-8d21-02f9ac6b8286","name":"Link Download Drive","value":"={{ $json['Link Download Drive'] }}","type":"string"},{"id":"b8c46d58-370a-46e6-a4b1-18f9d98de21f","name":"Link View Drive","value":"={{ $json['Link View Drive'] }}","type":"string"},{"id":"92d2218c-72ce-469f-b259-210814d17fb0","name":"Link Folder Drive","value":"={{ $json['Link Folder Drive'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-336,96],"id":"7535f9c7-bf93-45f6-938c-fce7ac30273a","name":"Edit Fields"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json['Id Drive'] }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-160,96],"id":"a309428f-d729-4184-8834-4c9ed33b0903","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"qASLQ3y3wNxv5b2Z","name":"Google Drive account"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[448,96],"id":"4075afd5-433e-488e-b147-d3e1ee23ad5b","name":"Get a workflow","credentials":{"n8nApi":{"id":"3FlS8UroXrYcV8iJ","name":"n8n account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[32,96],"id":"aeeeceb5-925c-4a77-8966-b3ca91570ddb","name":"Extract from File"},{"parameters":{"operation":"create","workflowObject":"={{ JSON.stringify($json.data) }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[208,96],"id":"dde9a0d1-9510-4551-8524-180bfdf74efe","name":"Create a workflow","credentials":{"n8nApi":{"id":"3FlS8UroXrYcV8iJ","name":"n8n account"}}},{"parameters":{"operation":"deactivate","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[656,16],"id":"103925b9-f353-40c5-806e-15dc1f716b69","name":"Unpublish a workflow","credentials":{"n8nApi":{"id":"3FlS8UroXrYcV8iJ","name":"n8n account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"If":{"main":[[],[]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Get a workflow":{"main":[[{"node":"Unpublish a workflow","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Create a workflow","type":"main","index":0}]]},"Create a workflow":{"main":[[{"node":"Get a workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"606005af-3129-4b6a-819e-41fa448ace89","activeVersionId":null,"versionCounter":112,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-15T06:39:33.117Z","createdAt":"2026-03-15T06:39:33.117Z","role":"workflow:owner","workflowId":"q5J2KJJUoVlcAvaS","projectId":"0m3xh9kLZZq6IdQX","project":{"updatedAt":"2026-03-14T06:08:13.540Z","createdAt":"2026-03-14T06:06:28.238Z","id":"0m3xh9kLZZq6IdQX","name":"Agung Temorubun <agunghenditemorubun@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a6d81ab8-2dad-4c25-86eb-1e45b549b1e7"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-15T07:24:22.984Z","createdAt":"2026-03-15T07:23:31.708Z","id":"IBhgdGYL0c9KEqsO","name":"Admin - Parent AI Agent","description":null,"active":false,"isArchived":false,"nodes":[],"connections":{},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"322f3a11-e2d4-4e6d-a845-28c57644e622","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[{"updatedAt":"2026-03-15T07:23:30.045Z","createdAt":"2026-03-15T07:23:30.045Z","id":"F8xTglnqaaXpvDqo","name":"AI Agent"},{"updatedAt":"2026-03-15T07:23:30.044Z","createdAt":"2026-03-15T07:23:30.044Z","id":"KGKqoR2b8vAeuTBx","name":"Parent"},{"updatedAt":"2026-03-15T07:23:29.947Z","createdAt":"2026-03-15T07:23:29.947Z","id":"Ta6nUSVRFYYtFnZ0","name":"Kelurahan Wonosari Jaya"},{"updatedAt":"2026-03-15T07:23:29.941Z","createdAt":"2026-03-15T07:23:29.941Z","id":"XxLVbOxCrbIS7XwE","name":"KAWENIA"}],"shared":[{"updatedAt":"2026-03-15T07:23:31.714Z","createdAt":"2026-03-15T07:23:31.714Z","role":"workflow:owner","workflowId":"IBhgdGYL0c9KEqsO","projectId":"0m3xh9kLZZq6IdQX","project":{"updatedAt":"2026-03-14T06:08:13.540Z","createdAt":"2026-03-14T06:06:28.238Z","id":"0m3xh9kLZZq6IdQX","name":"Agung Temorubun <agunghenditemorubun@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a6d81ab8-2dad-4c25-86eb-1e45b549b1e7"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-15T07:28:45.257Z","createdAt":"2026-03-15T07:28:45.257Z","id":"zBf3Dc3HFDqhntP8","name":"Surat - Parent AI Agent","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"toolDescription":"Gunakan Ini Untuk ID Folder Surat Pengantar RT","method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/da4d43eb-0a84-4ce7-ab87-a1407ddf871c","sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"=Saya Minta Id Folder Baru Surat Surat Pengantar RT {{ $fromAI('Nama_Kampung_Atau_Nama_Kelurahan_Pemohon', ``, 'string') }} untuk Nomor RT {{ $fromAI('Nomor_RT_Pemohon', ``, 'string') }}\nHanya Berikan Id Folder Tanpa Menambahkan Apapun!"},{"name":"System Message","value":"=Wajib Gunakan \"Data {{ $fromAI('Nama_Kampung_Atau_Nama_Kelurahan_Pemohon', ``, 'string') }}\" Untuk Mendapatkan Perent Folder\nWajib gunakan \"Tool Create Folder\" Untuk Membuat Folder Baru\nRespon Hanya Id Folder Baru Tanpa Menambahakan Apapun!"},{"name":"Folder Name","value":"={{ \n  DateTime.now()\n    .setZone('Asia/Tokyo')\n    .setLocale('id')\n    .toFormat('dd_MM_yyyy_HH_mm_ss')\n  + '_' +\n  ($fromAI('Nama_Pemohon', 'Nama Pemohon', 'string'))\n    .trim()\n    .replace(/\\s+/g, '-')\n    .toUpperCase()\n  + '_' +\n  ($fromAI('NIK_Pemohon', 'Nik Pemohon', 'string'))\n}}\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-192,608],"id":"17c2d822-9948-4daf-8b24-a38ee8ae23b6","name":"Create Folder","notesInFlow":true,"notes":"\n"},{"parameters":{"toolDescription":"Gunakan Ini Untuk Id Surat Pengantar RT","method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/4df84afa-bd86-402f-86da-b0cbf61354ca","sendBody":true,"bodyParameters":{"parameters":[{"name":"File Name","value":"=Surat Pengantar RT - {{ $fromAI('Nama_Pemohon', ``, 'string') }}"},{"name":"Parent Folder","value":"={{ $fromAI('Id_Perent_Folder', `Perent ID Folder Surat Pengantar RT`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[64,608],"id":"3bc84e93-680a-4c86-9c95-c559f9968082","name":"Create Surat","notesInFlow":true,"notes":"\n"},{"parameters":{"toolDescription":"=Gunakan Ini Untuk Nomor Surat Pengantar RT","method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/ec7e5308-0bb0-42ea-8701-ebb5fa61680d","sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"=Saya Minta Nomor Surat Pengantar RT {{ $fromAI('Nama_Kampung_Atau_Nama_Kelurahan', `Nama Kampung Atau Nama Kelurahan Pemohon`, 'string') }} \n\nData\nNomor RT Pemohon = {{ $fromAI('Nomor_RT_Pemohon', ``, 'string') }}\nNama Pemohon = {{ $fromAI('Nama_Pemohon', ``, 'string') }}\nNIK Pemohon = {{ $fromAI('NIK_Pemohon', ``, 'string') }}\nNomor HP Pemohon = {{ $fromAI('Nomor_HP_Pemohon', ``, 'string') }}\nAlamat Pemohon = {{ $fromAI('Alamat_Pemohon', ``, 'string') }}\n\nRespon\nHanya Berikan Nomor Surat Baru Tanpa Menambahkan Apapun!"},{"name":"System Message","value":"=Wajib Gunakan \"Read RT {{ $fromAI('Nama_Kampung_Atau_Nama_Kelurahan_Pemohon', ``, 'string') }}\" Untuk Melihat Nomor Surat Terakhir \nKemudian\nWajib Gunakan \"Add RT {{ $fromAI('Nama_Kampung_Atau_Nama_Kelurahan_Pemohon', ``, 'string') }}\" Untuk Menambahkan Data Baru Dan Nomor Surat Baru \n\nFormat Nomor Surat\nNomor Urut Tambahkan +1 /RT Tidak Di Ubah/RW Tidak Di Ubah/NWRP Tidak Di Ubah/Nomor Bulan Saat ini Menggunakan Angka Romawi/Tahun Saat Ini.\n\ngunakan waktu ini {{ $now }}\n\nWajib Menambahkan Data Baru dan Nomor Surat Baru Menggunakan \"Add RT {{ $fromAI('Nama_Kampung_Atau_Nama_Kelurahan_Pemohon', ``, 'string') }}\"\n\n\nRespon Hanya Berikan Nomor Surat Baru Tanpa Menambahkan Apapun!"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[320,608],"id":"9d84229b-6dd4-415a-9645-fc7dfc810291","name":"Create Nomor Surat","notesInFlow":true},{"parameters":{"toolDescription":"Gunakan Ini Untuk Data Lengkap Ketua RT","method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/e466b6e3-b772-481c-871a-a160539cbdc3","sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"=Saya Minta Data Ketua RT {{ $fromAI('Nama_Kampung_Atau_Nama_Kelurahan', `Nama Kampung Atau Nama Kelurahan Pemohon`, 'string') }}  Lengkap Dan Detail\n\nData\nNomor RT Pemohon = {{ $fromAI('Nomor_RT_Pemohon', ``, 'string') }}\n\nRespon\nBerikan Semua Data Lengkap dan Detail RT {{ $fromAI('Nomor_RT_Pemohon', ``, 'string') }}\n"},{"name":"System Message","value":"=Wajib Gunakan \"Data {{ $fromAI('Nama_Kampung_Atau_Nama_Kelurahan_Pemohon', ``, 'string') }}\" Untuk Mendapatkan Data Lengkap Ketua RT\n\nRespon \nHanya Berikan Data Lengkap Dan Detail Dari Nomor RT Yang di berikan"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[560,608],"id":"bb6066dd-6734-4855-a9d0-662bd0f39faf","name":"Data RT","notesInFlow":true},{"parameters":{"toolDescription":"Gunakan Ini Untuk Data Lengkap Kampung Kelurahan","method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/ca5eaa4b-03f6-4078-a3a3-d15ccdf3eb34","sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"=Saya Minta Semua Data Lengkap Dan Detail Kampung Kelurahan\n\nData\n{{ $fromAI('Nama_Kampung_Atau_Nama_Kelurahan_Pemohon', ``, 'string') }}\n\nRespon\nBerikan Semua Data Lengkap Dan Detail"},{"name":"System Message","value":"=Wajib Gunakan \"Data {{ $fromAI('Nama_Kampung_Atau_Nama_Kelurahan_Pemohon', ``, 'string') }}\" Untuk Mendapatkan Data Lengkap dan Detail Kampung Kelurahan\n\nRespon\nBerikan Semua Data Lengkap Dan Detail"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[784,608],"id":"60d186bc-b3d5-4178-be1e-693236b7baf8","name":"Data Kampung Kelurahan","notesInFlow":true},{"parameters":{"toolDescription":"Gunakan Ini Untuk Tanda Tangan Ketua RT","method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/3f80ac99-8413-443d-a191-7685570eb87d","sendBody":true,"bodyParameters":{"parameters":[{"name":"ID Tanda Tangan","value":"={{ $fromAI('ID_Tanda_Tangan_Ketua_RT', `ID tanda Tangan Ketua RT`, 'string') }}"},{"name":"Id Surat","value":"={{ $fromAI('Id_Surat', `Id surat`, 'string') }}"}]},"options":{"timeout":1000000}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1264,608],"id":"93c6dc83-a9f8-451c-9ff4-d9f95463e787","name":"Tanda Tangan Surat","notesInFlow":true},{"parameters":{"toolDescription":"Gunakan Ini Untuk Kirim Surat","method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/10c52cb0-1932-4246-bff4-d9338ea1bd11","sendBody":true,"bodyParameters":{"parameters":[{"name":"Id Surat","value":"={{ $fromAI('Id_Surat_Pengantar_RT', ``, 'string') }}"},{"name":"Nama Surat","value":"={{ $fromAI('Nama_Surat_Pengantar_RT', `Gunakan Format Ini, Surat Pengantar RT Nomor RT - Nama Pemohon`, 'string') }}"},{"name":"Chat Id","value":"={{ $fromAI('Id_Chat_WhatsApp_Ketua_RT', `Wajib Gunakan Format 628xxxxxxxx@c.us`, 'string') }}"},{"name":"Session","value":"={{ $fromAI('Session_WhatsApp_Ketua_RT', `Session WhatsApp Ketua RT`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2240,608],"id":"2a999d35-2ee8-4598-b1e8-1813489a3bef","name":"Send Surat RT","notesInFlow":true},{"parameters":{"toolDescription":"Gunakan Ini Untuk Arsip Surat Pengantar RT","method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/ce646a10-d051-48bf-bcd9-ed36b6820728","sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"=Buat Arsip Surat Pengantar RT {{ $fromAI('Nama_Kampung_Atau_Nama_Kelurahan_Pemohon', ``, 'string') }}\n\nData\nNama Ketua RT = {{ $fromAI('Nama_Ketua_RT', `Nama Ketua RT`, 'string') }}\nNomor Hp Ketua RT = {{ $fromAI('Nomor_Hp_Ketua_RT', `Nomor Hp Ketua RT`, 'string') }}\nLink Surat = {{ $fromAI('Link_Surat', `Link Surat\nWajib Gunakan Format \nhttps://docs.google.com/document/d/ID_SURAT_PENGANTAR_RT/export?format=pdf`, 'string') }}\nNomor Surat Pengantar RT = {{ $fromAI('Nomor_Surat_Pengantar_RT', ``, 'string') }}\n\n\n\nRespon Hanya\nBerhasil Atau Gagal"},{"name":"System Message","value":"=Wajib Gunakan \"Arsip RT {{ $fromAI('Nama_Kampung_Atau_Nama_Kelurahan_Pemohon', ``, 'string') }}\" Untuk Membuat Arsip Surat Pengantar RT\n\nRespon Hanya\nBerhasil Atau Gagal"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1520,608],"id":"3a28d8fa-5c7d-495b-8bcd-1a34fa353749","name":"Arsip Surat","notesInFlow":true},{"parameters":{"promptType":"define","text":"={{ $json.body.Prompt }}","options":{"systemMessage":"={{ $json.body['System Message'] }}","maxIterations":25}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[896,64],"id":"6fc2aca8-f64f-4173-912c-00340e634f41","name":"Main AI Agent Surat","executeOnce":false},{"parameters":{"content":"","height":800,"width":2720},"type":"n8n-nodes-base.stickyNote","position":[-288,-16],"typeVersion":1,"id":"a9eb1c05-fffb-4409-8263-1dcb18dff4ef","name":"Sticky Note1"},{"parameters":{"content":"### Webhook Input","height":208},"type":"n8n-nodes-base.stickyNote","position":[608,16],"typeVersion":1,"id":"696064ed-89e4-45fa-a2fa-139d3b7cf9f8","name":"Sticky Note18"},{"parameters":{"content":"### Parent AI Agent Surat","height":208,"width":400},"type":"n8n-nodes-base.stickyNote","position":[848,16],"typeVersion":1,"id":"ff293d2e-a746-4029-9e22-b14788fca2fc","name":"Sticky Note29"},{"parameters":{"content":"### AI Model gpt-4.1-mini\n\n\n\n\n\n\n\n### ","height":208},"type":"n8n-nodes-base.stickyNote","position":[720,240],"typeVersion":1,"id":"5d00e8c6-d1ee-436f-b0d6-cfc0c7bfb27d","name":"Sticky Note32"},{"parameters":{"content":"## Folder\n### **[Surat - Main AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/uX1k05GsTeeZayGC)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kelurahan Kamoro Jaya](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/qkuIZUmHUR9O98yu/workflows) / [Surat Pengantar RT](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/V5ltYOgI6zq3BoLw/workflows) / [Surat - Parent AI Agent]()** ","height":112,"width":2720},"type":"n8n-nodes-base.stickyNote","position":[-288,-128],"typeVersion":1,"id":"2dde9dac-38b3-4f5a-87b2-019dac2f7d0a","name":"Sticky Note2"},{"parameters":{"content":"### [Sub AI Agent Create Folder Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/Dvwy7KwEyE85ni9e)","height":208},"type":"n8n-nodes-base.stickyNote","position":[-256,544],"typeVersion":1,"id":"89e3dbf4-c0b3-4fd5-98de-e4de9d4c9fc9","name":"Sticky Note33"},{"parameters":{"content":"### [Tool Create Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/KAvAzoUN5kU2Z873)","height":208},"type":"n8n-nodes-base.stickyNote","position":[-16,544],"typeVersion":1,"id":"0bab20e7-f7ad-4b35-9aa9-208ad1a6c6b1","name":"Sticky Note34"},{"parameters":{"content":"### [Sub AI Agent Create Nomor Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/mf0tbgLuENTHuRqG)","height":208},"type":"n8n-nodes-base.stickyNote","position":[240,544],"typeVersion":1,"id":"0636bfaa-3839-4d07-b48a-d2e7e10ee6ab","name":"Sticky Note35"},{"parameters":{"content":"### [Sub AI Agent Data RT](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/59X0RzSdIxWuCSgb)","height":208},"type":"n8n-nodes-base.stickyNote","position":[480,544],"typeVersion":1,"id":"4c6eef37-1248-41b2-ab3b-8a06c594b741","name":"Sticky Note36"},{"parameters":{"content":"### [Sub AI Agent Data Kampung Kelurahan](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/JY9ewWcfNSS4PN2r)","height":208},"type":"n8n-nodes-base.stickyNote","position":[720,544],"typeVersion":1,"id":"b0ece0c4-8c51-4513-9ed3-d52f19247425","name":"Sticky Note38"},{"parameters":{"content":"### [Tool Edit Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/sUbLwuK4LAFQXs1D)","height":208},"type":"n8n-nodes-base.stickyNote","position":[960,544],"typeVersion":1,"id":"ab99bda3-462a-4e94-b5c9-339e2287db66","name":"Sticky Note39"},{"parameters":{"content":"### [Tool Tanda Tangan](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/o6WUIVjp6QCJW5YR)","height":208},"type":"n8n-nodes-base.stickyNote","position":[1200,544],"typeVersion":1,"id":"c127ed13-62e8-4818-9327-a447013ae0d2","name":"Sticky Note40"},{"parameters":{"content":"### [Sub AI Agent Arsip Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/ZCWE8J1zPuk7EIzY)","height":208},"type":"n8n-nodes-base.stickyNote","position":[1440,544],"typeVersion":1,"id":"6a6c26f1-18c6-4cb0-bd5d-cc07271200b2","name":"Sticky Note41"},{"parameters":{"content":"### [Tool Pesan Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/1inc1GiejOWUcgw3)","height":208},"type":"n8n-nodes-base.stickyNote","position":[1680,544],"typeVersion":1,"id":"b1a4db70-b9e2-4da5-a978-ed58c998d6a5","name":"Sticky Note"},{"parameters":{"content":"### [Tool Kirim Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/zNHksd5dVVNGfVrg)","height":208},"type":"n8n-nodes-base.stickyNote","position":[2160,544],"typeVersion":1,"id":"fda46f43-4a87-4ac0-88c1-5046ce6f896b","name":"Sticky Note42"},{"parameters":{"content":"### [Tool Pesan Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/1inc1GiejOWUcgw3)","height":208},"type":"n8n-nodes-base.stickyNote","position":[1920,544],"typeVersion":1,"id":"68747a50-4afa-41bf-8ba8-768470d06b38","name":"Sticky Note3"},{"parameters":{"toolDescription":"Gunakan Ini Untuk Edit Surat Pengantar RT","method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/416da980-d76e-4c71-b3cf-8d3697891a31","sendBody":true,"bodyParameters":{"parameters":[{"name":"Doc ID or URL","value":"={{ $fromAI('Id_Surat_Pengantar_RT', ``, 'string') }}"},{"name":"Kampung_Kelurahan","value":"={{ $fromAI('Kampung_Kelurahan', `Nama Kampung Kelurahan Gunakan data dari Data Kampung Kelurahan Wajib Gunakan Awalan Kampung Atau Kelurahan`, 'string') }}"},{"name":"Nomor_RT","value":"={{ $fromAI('Nomor_RT', `Nomor RT`, 'string') }}"},{"name":"Jln","value":"={{ $fromAI('Jln', `Alamat Kampung Kelurahan`, 'string') }}"},{"name":"Nomor_Surat_RT","value":"={{ $fromAI('Nomor_Surat_RT', `Nomor Surat Pengantar RT Kampung Nawaripi`, 'string') }}"},{"name":"Nama_Pemohon","value":"={{ $fromAI('Nama_Pemohon', `Nama Pemohon Menggunakan Huruf Capital`, 'string') }}"},{"name":"Tempat_Tanggal_Lahir","value":"={{ $fromAI('Tempat_Tanggal_Lahir', `Tempat Tanggal Lahir Pemohon  gunakan Format  NamaTempat, Tanggal-Bulan-Tahun NamaTempat menggunakan Huruf Capital  Tanggal-Bulan-Tahun menggunakan Angka  `, 'string') }}"},{"name":"Jenis_Kelamin","value":"={{ $fromAI('Jenis_Kelamin', `Jenis Kelamin Pemohon Gunakan Huruf capital`, 'string') }}"},{"name":"Pekerjaan","value":"={{ $fromAI('Pekerjaan', `Pekerjaan Pemohon Gunakan Huruf Capital`, 'string') }}"},{"name":"Alamat","value":"={{ $fromAI('Alamat', `Alamat Pemohon Menggunakan Huruf Capital`, 'string') }}"},{"name":"NIK_Pemohon","value":"={{ $fromAI('NIK_Pemohon', `Nomor NIK Pemohon`, 'string') }}"},{"name":"Keperluan_Pemohon","value":"={{ $fromAI('Keperluan_Pemohon', `Keperluan Pemohon Buat Surat Pengantar RT`, 'string') }}"},{"name":"Nama_Ketua_RT","value":"={{ $fromAI('Nama_Ketua_RT', `Nama RT Nama Orang  Bukan Status RT`, 'string') }}"},{"name":"NomorPos","value":"={{ $fromAI('NomorPos', `Nomor Kode Pos`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1040,608],"id":"9cb820eb-820d-4b21-a112-d42989429aef","name":"Edit Surat","notesInFlow":true},{"parameters":{"toolDescription":"Gunakan Ini Untuk Kirim Pesan Ke Ketua RT","method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/810a36bc-80a5-4ebe-968c-d6aa82fa03b1","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $fromAI('Session_WhatsApp_Ketua_RT', ``, 'string') }}"},{"name":"chatId","value":"={{ $fromAI('ChatId_WhatsApp_Ketua_RT', ` Wajib Gunakan Format 628xxxxx@c.us`, 'string') }}"},{"name":"text","value":"=Kepada Yth. \nKetua RT {{ $fromAI('Nomor_RT_Pemohon', ``, 'string') }} {{ $fromAI('Nama_Kampung_Kelurahan', `Wajib Gunakan Awalan Kampung Atau Kelurahan dari Data Kampung Kelurahan`, 'string') }}, \n{{ $fromAI('Nama_Lengkap_Ketua_RT', ``, 'string') }}, \n\nSaya Ingin Menyampaikan bahwa Warga RT {{ $fromAI('Nomor_RT_Pemohon', ``, 'string') }} {{ $fromAI('Nama_Kampung_Kelurahan', `Wajib Gunakan Awalan Kampung Atau Kelurahan dari Data Kampung Kelurahan`, 'string') }} Atas Nama {{ $fromAI('Nama_Pemohon', ``, 'string') }} meminta Surat Pengantar RT untuk keperluan {{ $fromAI('Keperluan_Pemohon', ``, 'string') }}\nbisakah bapak {{ $fromAI('Nama_Lengkap_Ketua_RT', ``, 'string') }} mengirim surat pengantar ini ke Nomor {{ $fromAI('Nama_Pemohon', ``, 'string') }} {{ $fromAI('Nomor_Hp_Pemohon', `Wajib Gunakan Format 628xxxxxxxx@c.us`, 'string') }}\n\nSalam hormat,  \nKawe Nia 🤝  \nAsisten Digital Distrik Wania"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1760,608],"id":"88994487-1d13-4eea-80f1-8e27f3839454","name":"Send Pesan RT","notesInFlow":true,"notes":"\n"},{"parameters":{"toolDescription":"Gunakan Ini Untuk Kirim Pesan ke Pemohon","method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/810a36bc-80a5-4ebe-968c-d6aa82fa03b1","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $fromAI('Session_WhatsApp_Pemohon', ``, 'string') }}"},{"name":"chatId","value":"={{ $fromAI('ChatId_WhatsApp_Pemohon', `Wajib Gunakan Format 628xxxxxxxx@c.us`, 'string') }}"},{"name":"text","value":"={{ $fromAI('Nama_Pemohon', ``, 'string') }} dapat langsung mengambil Surat Pengantar RT untuk {{ $fromAI('Alasan_Pemohon', ``, 'string') }} di Ketua RT {{ $fromAI('Nomor_RT', ``, 'string') }} {{ $fromAI('Nama_Kampung_Atau_Nama_Kelurahan', `Wajib Gunakan Awalan Kampung Atau Kelurahan Dari Data Kampung Kelurahan`, 'string') }}, {{ $fromAI('Nama_Lengkap_Ketua_RT', ``, 'string') }}. Silakan menghubungi beliau melalui WhatsApp di nomor {{ $fromAI('Nomor_HP_Ketua_RT', ``, 'string') }} untuk meminta surat pengantar tersebut.\n\nSalam hormat,  \nKawe Nia 🤝  \nAsisten Digital Distrik Wania"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1984,608],"id":"4e0c6fa3-6656-4c61-88d3-802e51d3d214","name":"Send Pesan Pemohon","notesInFlow":true},{"parameters":{"httpMethod":"POST","path":"794e0d10-e493-49fc-898e-72e858a3dc48","options":{"responseData":"=Terimkasih\nMohon Tunggu Proses Pembuatan Surat Pengantar RT"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[688,64],"id":"5f33c2e0-244a-40ff-ad5a-9ae4c622d5c3","name":"WI-Surat","webhookId":"bd9e0f77-76c3-4ace-a919-6e4c6f2b38d2"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{"timeout":600000,"maxRetries":20}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[784,320],"id":"a21be709-45e0-486e-8c53-ba4c12c0ece8","name":"AI-Surat","credentials":{"openAiApi":{"id":"Qy11fJqEsEUeag8i","name":"OpenAi account"}}}],"connections":{"Create Folder":{"ai_tool":[[{"node":"Main AI Agent Surat","type":"ai_tool","index":0}]]},"Create Surat":{"ai_tool":[[{"node":"Main AI Agent Surat","type":"ai_tool","index":0}]]},"Create Nomor Surat":{"ai_tool":[[{"node":"Main AI Agent Surat","type":"ai_tool","index":0}]]},"Data RT":{"ai_tool":[[{"node":"Main AI Agent Surat","type":"ai_tool","index":0}]]},"Data Kampung Kelurahan":{"ai_tool":[[{"node":"Main AI Agent Surat","type":"ai_tool","index":0}]]},"Tanda Tangan Surat":{"ai_tool":[[{"node":"Main AI Agent Surat","type":"ai_tool","index":0}]]},"Send Surat RT":{"ai_tool":[[{"node":"Main AI Agent Surat","type":"ai_tool","index":0}]]},"Arsip Surat":{"ai_tool":[[{"node":"Main AI Agent Surat","type":"ai_tool","index":0}]]},"Edit Surat":{"ai_tool":[[{"node":"Main AI Agent Surat","type":"ai_tool","index":0}]]},"Send Pesan RT":{"ai_tool":[[{"node":"Main AI Agent Surat","type":"ai_tool","index":0}]]},"Send Pesan Pemohon":{"ai_tool":[[{"node":"Main AI Agent Surat","type":"ai_tool","index":0}]]},"WI-Surat":{"main":[[{"node":"Main AI Agent Surat","type":"main","index":0}]]},"AI-Surat":{"ai_languageModel":[[{"node":"Main AI Agent Surat","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"e39c1c96-3873-43a4-b21a-716c55b0d763","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-15T07:28:45.333Z","createdAt":"2026-03-15T07:28:45.333Z","role":"workflow:owner","workflowId":"zBf3Dc3HFDqhntP8","projectId":"0m3xh9kLZZq6IdQX","project":{"updatedAt":"2026-03-14T06:08:13.540Z","createdAt":"2026-03-14T06:06:28.238Z","id":"0m3xh9kLZZq6IdQX","name":"Agung Temorubun <agunghenditemorubun@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a6d81ab8-2dad-4c25-86eb-1e45b549b1e7"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-15T07:28:45.344Z","createdAt":"2026-03-15T07:28:45.344Z","id":"Tj99glihNt9VSMDa","name":"Data Surat Wonosari Jaya - Sub AI Agent","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Folder\n### **[Surat - Parent Tools](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/7I5mVeAIaVV3H3J6)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kelurahan Wonosari Jaya](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/c2kAGh5uHVfIJYaF/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/cfa8yDfVPTKgfQKf/workflows) / [Sub AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/4vsB79MPYGfJI0Zj/workflows) / [Data Surat Wonosari Jaya - Sub AI Agent]()** ","height":112,"width":1120},"type":"n8n-nodes-base.stickyNote","position":[-592,-176],"typeVersion":1,"id":"2b5fe856-5045-402b-825b-9a273ac05008","name":"Sticky Note2"},{"parameters":{"content":"","height":480,"width":1120},"type":"n8n-nodes-base.stickyNote","position":[-592,-64],"typeVersion":1,"id":"6abdb093-82e2-47f6-981e-6aacff96a502","name":"Sticky Note"},{"parameters":{"content":"### Webhook Input","height":208},"type":"n8n-nodes-base.stickyNote","position":[-480,-48],"typeVersion":1,"id":"d4ac7ae7-e2f2-469e-a779-3fc063ac4119","name":"Sticky Note17"},{"parameters":{"content":"### Sub AI Agent Data Surat","height":208,"width":400},"type":"n8n-nodes-base.stickyNote","position":[-240,-48],"typeVersion":1,"id":"3186d66b-a922-47fb-a372-9344c2350eef","name":"Sticky Note28"},{"parameters":{"content":"### Webhook Respon ","height":208},"type":"n8n-nodes-base.stickyNote","position":[160,-48],"typeVersion":1,"id":"80196233-3c53-48ff-9f6a-fa4b129f699d","name":"Sticky Note30"},{"parameters":{"content":"### AI Model gpt-4.1-mini","height":192},"type":"n8n-nodes-base.stickyNote","position":[-400,192],"typeVersion":1,"id":"a6dd85af-ba74-4b05-9ea8-e822a7b6c1e1","name":"Sticky Note27"},{"parameters":{"content":"### [Tool Read Data RT](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/datatables/TkmaSKQC1gWtu4Vq)\n\n\n","height":192},"type":"n8n-nodes-base.stickyNote","position":[-144,192],"typeVersion":1,"id":"0c6ed750-6b81-4825-b0f3-7c04e9d65151","name":"Sticky Note25"},{"parameters":{"httpMethod":"POST","path":"3cf3a834-e533-4a5c-a65f-d15c8c9c846d","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,16],"id":"4a113c70-43e6-4252-80f2-71285a6d32ee","name":"WI-Surat","webhookId":"1f071bd4-a6e8-4bcd-bd9a-74d2ab0854bb"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[192,16],"id":"3b3d18d0-a2b2-4610-a986-46ea75ad62c0","name":"WR-Surat"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"responsesApiEnabled":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-336,256],"id":"88a15f0d-6b1c-40e5-b213-8359546521e1","name":"AI-Surat","credentials":{"openAiApi":{"id":"Qy11fJqEsEUeag8i","name":"OpenAi account"}}},{"parameters":{"content":"### [Format Respon]()\n\n\n","height":192},"type":"n8n-nodes-base.stickyNote","position":[112,192],"typeVersion":1,"id":"b0fa7c25-4f08-4c6b-9a0b-e3cc0347a526","name":"Sticky Note26"},{"parameters":{"jsonSchemaExample":"  {\n    \"Pemerintah_Kabupaten\": \"\",\n    \"Provinsi\": \"\",\n    \"Distrik\": \"\",\n    \"Kampung_Kelurahan\": \"\",\n    \"Alamat\": \"\",\n    \"Kode_Pos\": \"\",\n    \"Email\": \"\",\n    \"Nama_Pimpinan\": \"\",\n    \"Jabatan\": \"\",    \n    \"Nip\": \"\",\n    \"Logo\": \"\"\n  }"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[192,256],"id":"46af26d2-8748-4bf1-8f68-c8e3d636c511","name":"Format Respon"},{"parameters":{"promptType":"define","text":"={{ $json.body.Prompt }}","hasOutputParser":true,"options":{"systemMessage":"={{ $json.body[\"System Message\"] }}","maxIterations":3}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-176,16],"id":"ba736f86-f0cb-4d07-9afa-b06ee9af65e9","name":"Sub AI Agent Data Surat"},{"parameters":{"documentId":{"__rl":true,"value":"1yNLJjf2TH7nSdQ4Ow5JthXdvjJoZ-MsmaeFY_NHmId4","mode":"list","cachedResultName":"Data Kampung Kelurahan Distrik Wania","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNLJjf2TH7nSdQ4Ow5JthXdvjJoZ-MsmaeFY_NHmId4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNLJjf2TH7nSdQ4Ow5JthXdvjJoZ-MsmaeFY_NHmId4/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Kampung_Kelurahan","lookupValue":"Kelurahan Wonosari Jaya"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[-80,256],"id":"eae9674f-2cb1-4897-946d-d7580325ba76","name":"Data Surat","notesInFlow":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0qOTtG6WL8X6yP5q","name":"Google Sheets account"}}}],"connections":{"WI-Surat":{"main":[[{"node":"Sub AI Agent Data Surat","type":"main","index":0}]]},"AI-Surat":{"ai_languageModel":[[{"node":"Sub AI Agent Data Surat","type":"ai_languageModel","index":0}]]},"Format Respon":{"ai_outputParser":[[{"node":"Sub AI Agent Data Surat","type":"ai_outputParser","index":0}]]},"Sub AI Agent Data Surat":{"main":[[{"node":"WR-Surat","type":"main","index":0}]]},"Data Surat":{"ai_tool":[[{"node":"Sub AI Agent Data Surat","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"534012e1-ddaa-4817-8365-9c47aed355b2","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-15T07:28:45.348Z","createdAt":"2026-03-15T07:28:45.348Z","role":"workflow:owner","workflowId":"Tj99glihNt9VSMDa","projectId":"0m3xh9kLZZq6IdQX","project":{"updatedAt":"2026-03-14T06:08:13.540Z","createdAt":"2026-03-14T06:06:28.238Z","id":"0m3xh9kLZZq6IdQX","name":"Agung Temorubun <agunghenditemorubun@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a6d81ab8-2dad-4c25-86eb-1e45b549b1e7"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-15T07:28:45.356Z","createdAt":"2026-03-15T07:28:45.356Z","id":"Q3zPYhnLHHy2qwwn","name":"Tombol Web Admin 1","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"### Webhook Input Tombol Kirim Pesan\n","height":192},"type":"n8n-nodes-base.stickyNote","position":[-32,688],"typeVersion":1,"id":"7064f48d-215c-4faf-b690-586c3e1cc98e","name":"Sticky Note115"},{"parameters":{"content":"### Tool Decript Data\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/bkujltHTudpMwHrU","height":192},"type":"n8n-nodes-base.stickyNote","position":[208,688],"typeVersion":1,"id":"1a7b0ac3-1fd3-48a7-b586-c7a63b14e316","name":"Sticky Note116"},{"parameters":{"content":"### Format Data","height":192},"type":"n8n-nodes-base.stickyNote","position":[448,688],"typeVersion":1,"id":"621451ad-c2a4-4cb7-b2d4-6dd5c699c73f","name":"Sticky Note117"},{"parameters":{"content":"### AI Agent Pesan Surat\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/Jbrrovhpr14NZBcM","height":192},"type":"n8n-nodes-base.stickyNote","position":[688,688],"typeVersion":1,"id":"05dddcbc-b060-476b-8a6c-4c4f4a2dd72e","name":"Sticky Note118"},{"parameters":{"content":"### AI Agent Pesan Surat\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/Jbrrovhpr14NZBcM","height":192},"type":"n8n-nodes-base.stickyNote","position":[928,688],"typeVersion":1,"id":"eaed0158-943f-464e-a8ac-20382d2ebcc2","name":"Sticky Note119"},{"parameters":{"content":"### AI Agent Pesan Surat\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/Jbrrovhpr14NZBcM","height":192},"type":"n8n-nodes-base.stickyNote","position":[1168,688],"typeVersion":1,"id":"0a49919b-017f-4473-9bf9-7e2e780272af","name":"Sticky Note120"},{"parameters":{"content":"### Webhook Respon Tombol Kirim Pesan","height":192},"type":"n8n-nodes-base.stickyNote","position":[1408,688],"typeVersion":1,"id":"96823662-eb0f-47dd-bb32-23d580137b3e","name":"Sticky Note122"},{"parameters":{"httpMethod":"POST","path":"dbc88010-a659-4b08-b1f4-d842462d0a4e","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[32,736],"id":"53cb698b-6caf-4d98-b9b0-a75bc0a2ffe8","name":"bbb","webhookId":"dbc88010-a659-4b08-b1f4-d842462d0a4e"},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/3bb4e66e-e354-415c-87d8-25631fd005a5-decript-data","sendBody":true,"bodyParameters":{"parameters":[{"name":"data","value":"={{ $json.body.data }}"},{"name":"key","value":"={{ $json.body.key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[288,736],"id":"a317e015-41eb-4c63-a1ea-18044081285f","name":"bbb1","notesInFlow":true},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,736],"id":"18567fa5-5fa4-4c25-83d8-6d9b30547228","name":"bbb2","notesInFlow":true},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/8a3a0e85-86cc-47f6-9ad6-b73c0a5795c8","sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"=Kirim Pesan \n\nKepada Yth.\nKepala {{ $json.data_web.admin1.data_surat.kop.kampung_kelurahan }}🌿\n\nDengan hormat,\n\nDisampaikan bahwa warga {{ $json.data_web.admin1.data_surat.kop.kampung_kelurahan }} atas nama:\n\nNama Pemohon : {{ $json.data_web.user.data_surat.pemohon.nama }}\nNomor KTP : {{ $json.data_web.user.data_surat.pemohon.nik }}\nNomor Kontak : {{ $json.data_web.user.data_surat.pemohon.nomor_hp }}\nKeperluan : {{ $json.data_web.user.data_surat.perihal }}\nNomor Surat : {{ $json.data_web.user.nomor_surat }}\n\ntelah dinyatakan ditolak ❌ oleh Kepala {{ $json.data_web.admin1.data_surat.kop.kampung_kelurahan }}.\n\nAlasan penolakan:\n“{{ $json.message }}”\n\nDengan demikian, surat dimaksud tidak dapat dilanjutkan ke tingkat distrik untuk memperoleh persetujuan lebih lanjut.\n\nAtas perhatian Bapak, disampaikan terima kasih 🙏🏻.\nSemoga Tuhan Yang Maha Kuasa senantiasa memberkati setiap tugas dan pelayanan Bapak ✨.\n\nSalam hormat,\nKawe Nia 🤝\nAsisten Digital Distrik Wania\n\nGunakan Data Ini Untuk Kirim Pesan\nChat Id WhatsApp = {{ $json.data_web.admin1.whatsapp.chat_id }}\nSession WhatsApp = {{ $json.data_web.admin1.whatsapp.session }}\n\nRespon Hanya\nBerhasil Atau gagal"},{"name":"System Message","value":"=Wajib Gunakan \"Tool Pesan\" Untuk Kirim Pesan\nSebelum Kirim Pesan Wajib Rapikan Agar Lebih Rapih Dan Lebih Formal"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[784,736],"id":"71bd535a-44d9-4a74-a7d9-0920ee7c90b4","name":"bbb3","notesInFlow":true},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/8a3a0e85-86cc-47f6-9ad6-b73c0a5795c8","sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"=Kirim Pesan \n\nKepada Yth.\nIbu Kepala Distrik Wania 🌸\ndi Tempat\n\nDengan hormat,\n\nDisampaikan bahwa warga {{ $('bbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }} atas nama:\nNama Pemohon: {{ $('bbb2').item.json.data_web.user.data_surat.pemohon.nama }}\nNomor KTP: {{ $('bbb2').item.json.data_web.user.data_surat.pemohon.nik }}\nNomor Kontak: {{ $('bbb2').item.json.data_web.user.data_surat.pemohon.nomor_hp }}\nKeperluan: {{ $('bbb2').item.json.data_web.user.data_surat.perihal }}\nNomor Surat: {{ $('bbb2').item.json.data_web.user.nomor_surat }}\n\nTelah ditolak ❌ oleh Kepala {{ $('bbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }},\nNama: {{ $('bbb2').item.json.data_web.admin1.data_surat.admin.nama }}\nNomor Kontak: {{ $('bbb2').item.json.data_web.admin1.data_surat.admin.nomor_hp }}\n\nAlasan penolakan:\n📝 “{{ $('bbb2').item.json.message }}”\n\nDengan demikian, surat tersebut tidak dapat dilanjutkan ke tingkat distrik untuk proses persetujuan lebih lanjut.\n\nAtas perhatian dan kerja sama Ibu, disampaikan terima kasih.\nSemoga Tuhan Yang Maha Kuasa senantiasa memberkati setiap tugas dan pelayanan Ibu.\n\nHormat kami,\nKawe Nia 🤝\nAsisten Digital Distrik Wania\n\nGunakan Data Ini Untuk Kirim Pesan\n{{ $json.output }}\n\nRespon Hanya\nBerhasil Atau gagal"},{"name":"System Message","value":"=Wajib Gunakan \"Tool Pesan\" Untuk Kirim Pesan\nSebelum Kirim Pesan Wajib Rapikan Agar Lebih Rapih Dan Lebih Formal"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,736],"id":"c49352b1-fe11-46eb-8bb8-620f6432c458","name":"bbb4","notesInFlow":true},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/8a3a0e85-86cc-47f6-9ad6-b73c0a5795c8","sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"=Kirim Pesan \n\nHalo {{ $('bbb2').item.json.data_web.user.data_surat.pemohon.nama }}\nMohon maaf, surat yang {{ $('bbb2').item.json.data_web.user.data_surat.pemohon.nama }} ajukan  telah ditolak oleh Kepala {{ $('bbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }}.\n\n📌 Alasan penolakan: {{ $('bbb2').item.json.message }}.\n\nSilakan kembali ke web https://distrikwania.com/data/{{ $('bbb2').item.json.data_web.user.id.html }}\n\ndan lakukan perbaikan sesuai catatan yang diberikan, lalu ajukan kembali suratnya untuk diproses lebih lanjut.\n\nTetap semangat ya {{ $('bbb2').item.json.data_web.user.data_surat.pemohon.nama }}, semoga proses berikutnya berjalan lancar.\nTuhan memberkati 🙏✨\n\nGunakan Data Ini Untuk Kirim Pesan\nChat Id WhatsApp = {{ $('bbb2').item.json.data_web.user.whatsapp.chat_id }}\nSession WhatsApp = {{ $('bbb2').item.json.data_web.user.whatsapp.session }}\nRespon Hanya\nBerhasil Atau gagal"},{"name":"System Message","value":"=Wajib Gunakan \"Tool Pesan\" Untuk Kirim Pesan\nSebelum Kirim Pesan Wajib Rapikan Agar Lebih Rapih Dan Lebih Formal"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,736],"id":"9c97fe28-016a-4e07-9077-6bc729f1dd4c","name":"bbb5","notesInFlow":true,"notes":" "},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1504,736],"id":"8cab0a20-09bb-4553-815d-aa58c7495caa","name":"bbb6"},{"parameters":{"content":"","height":912,"width":2016},"type":"n8n-nodes-base.stickyNote","position":[-160,928],"typeVersion":1,"id":"116e5062-989e-4a3f-b919-2d7c844bbca7","name":"Sticky Note121"},{"parameters":{"content":"# SKTM Web Admin 1\n# Tombol Kirim Surat","height":112,"width":368},"type":"n8n-nodes-base.stickyNote","position":[624,944],"typeVersion":1,"id":"b15ad258-bbbe-41c3-af4a-118fdb41acba","name":"Sticky Note123"},{"parameters":{"content":"### Webhook Input Tombol Kirim Surat\n","height":192},"type":"n8n-nodes-base.stickyNote","position":[-16,1088],"typeVersion":1,"id":"51e21c88-e5c6-4ff6-a5dd-19c759a3d94d","name":"Sticky Note124"},{"parameters":{"content":"### Tool Decript Data\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/bkujltHTudpMwHrU","height":192},"type":"n8n-nodes-base.stickyNote","position":[224,1088],"typeVersion":1,"id":"7c7a6939-5dfd-4293-9b17-e56f1974fe7a","name":"Sticky Note125"},{"parameters":{"content":"### Format Data","height":192},"type":"n8n-nodes-base.stickyNote","position":[464,1088],"typeVersion":1,"id":"b794b2fc-f53f-410d-9b66-05aa276863cc","name":"Sticky Note126"},{"parameters":{"content":"### AI Agent Copy Surat\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/EGNbiL4dDoPys27W","height":192},"type":"n8n-nodes-base.stickyNote","position":[224,1328],"typeVersion":1,"id":"709129ab-f76c-4d3e-837c-9b18e65042e4","name":"Sticky Note127"},{"parameters":{"content":"### AI Agent Edit Surat\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/PRByDVbDdX8sYu1E","height":192},"type":"n8n-nodes-base.stickyNote","position":[704,1328],"typeVersion":1,"id":"b8018f4d-9221-4a05-a115-42c01dab6bc9","name":"Sticky Note128"},{"parameters":{"content":"### Tool Kirim Surat\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/rHlkBTCXxLOt2Zu6","height":192},"type":"n8n-nodes-base.stickyNote","position":[944,1328],"typeVersion":1,"id":"301a750c-0d12-4e19-bab2-2d7cccee9599","name":"Sticky Note129"},{"parameters":{"content":"### AI Agent Pesan Surat\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/Jbrrovhpr14NZBcM","height":192},"type":"n8n-nodes-base.stickyNote","position":[1184,1328],"typeVersion":1,"id":"6ab89651-2f19-4205-a199-2f60decd4534","name":"Sticky Note130"},{"parameters":{"httpMethod":"POST","path":"8fb57229-0fc5-4aaa-97d4-fd86e815001c","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[64,1136],"id":"d50951ec-8c3d-43ec-89d3-9174a6945250","name":"bbbb","webhookId":"8fb57229-0fc5-4aaa-97d4-fd86e815001c"},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/3bb4e66e-e354-415c-87d8-25631fd005a5-decript-data","sendBody":true,"bodyParameters":{"parameters":[{"name":"data","value":"={{ $json.body.data }}"},{"name":"key","value":"={{ $json.body.key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[320,1136],"id":"d759bc48-7ff8-46d8-b564-bb5e2c1c4145","name":"bbbb1","notesInFlow":true},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,1136],"id":"33daa97c-8d4d-489e-a3cc-c2e7a40f52f6","name":"bbbb2","notesInFlow":true},{"parameters":{"content":"### Tool Kirim Surat\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/rHlkBTCXxLOt2Zu6","height":192},"type":"n8n-nodes-base.stickyNote","position":[224,1568],"typeVersion":1,"id":"643de7b0-b139-4faf-910c-b9a27283c7c3","name":"Sticky Note132"},{"parameters":{"content":"### AI Agent Pesan Surat\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/Jbrrovhpr14NZBcM","height":192},"type":"n8n-nodes-base.stickyNote","position":[464,1568],"typeVersion":1,"id":"698ab1d4-8b58-4df2-a487-ca7b6d16ac46","name":"Sticky Note133"},{"parameters":{"content":"### Tool Kirim Surat\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/rHlkBTCXxLOt2Zu6","height":192},"type":"n8n-nodes-base.stickyNote","position":[704,1568],"typeVersion":1,"id":"6332b5a5-575e-4a96-8618-9ee58c7a3439","name":"Sticky Note134"},{"parameters":{"content":"### AI Agent Pesan Surat\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/Jbrrovhpr14NZBcM","height":192},"type":"n8n-nodes-base.stickyNote","position":[944,1568],"typeVersion":1,"id":"940f6de7-6f41-4c9f-a297-dbc3c8b4018a","name":"Sticky Note135"},{"parameters":{"content":"","height":400,"width":2016},"type":"n8n-nodes-base.stickyNote","position":[-160,528],"typeVersion":1,"id":"135fcbcc-b333-4891-b206-f77d15bfff98","name":"Sticky Note"},{"parameters":{"content":"# SKTM Web Admin 1\n# Tombol Kirim Pesan","height":112,"width":368},"type":"n8n-nodes-base.stickyNote","position":[624,544],"typeVersion":1,"id":"267045e9-6e22-4b91-94af-f5514a208dad","name":"Sticky Note131"},{"parameters":{"content":"### Tabel Data Id\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/datatables/6W3on0nN3Gmmij5S","height":192},"type":"n8n-nodes-base.stickyNote","position":[464,1328],"typeVersion":1,"id":"bda837ae-af28-462a-b05b-3655234dc449","name":"Sticky Note85"},{"parameters":{"assignments":{"assignments":[{"id":"1729ea60-b7f1-44ed-bbcb-25d9d83709d8","name":"data_web.user","value":"={{ $json.data_web.user }}","type":"object"},{"id":"35a03813-749e-4aad-a733-8d366762baf9","name":"data_web.admin1.status","value":"=terkirim","type":"string"},{"id":"a61f4c2c-a641-4430-85ed-6a15ef724732","name":"data_web.admin1.tanggal","value":"={{ $json.data_web.admin1.tanggal }}","type":"string"},{"id":"201d6086-009a-4b54-b9bf-88ed12eb7bfe","name":"data_web.admin1.nomor_surat","value":"={{ $json.data_web.admin1.nomor_surat }}","type":"string"},{"id":"b6c9e5cb-e541-402b-8c26-82e018727700","name":"data_web.admin1.id","value":"={{ $json.data_web.admin1.id }}","type":"object"},{"id":"bd59648d-1a5a-4d60-b9fb-b87213c44244","name":"data_web.admin1.data_surat","value":"={{ $json.data_web.admin1.data_surat }}","type":"object"},{"id":"b08d0c96-cbf8-4781-bd79-43b092109e42","name":"data_web.admin1.whatsapp","value":"={{ $json.data_web.admin1.whatsapp }}","type":"object"},{"id":"38398d2b-0b03-4e14-8135-1b2f011c280d","name":"data_web.admin1.logo","value":"={{ $json.data_web.admin1.logo }}","type":"string"},{"id":"54ccd948-9bc8-4d3f-b688-2d7cdad77598","name":"data_web.admin1.tombol","value":"={{ $json.data_web.admin1.tombol }}","type":"object"},{"id":"41abbb76-d0a7-4dd7-b3ed-cfd14fddbdf4","name":"data_web.admin2","value":"={{ $json.data_web.admin2 }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,1136],"id":"651a2999-5220-4f85-a74a-368b16f0ceb9","name":"bbbb3"},{"parameters":{"content":"### Format Data Baru","height":192},"type":"n8n-nodes-base.stickyNote","position":[704,1088],"typeVersion":1,"id":"a9256bfc-975e-4588-aa25-b08d1c88a4cc","name":"Sticky Note93"},{"parameters":{"content":"### Convert Json to Binary File","height":192},"type":"n8n-nodes-base.stickyNote","position":[944,1088],"typeVersion":1,"id":"8c2c6797-6570-4a06-9b3c-8c6f592247eb","name":"Sticky Note95"},{"parameters":{"content":"### Update Data Json","height":192},"type":"n8n-nodes-base.stickyNote","position":[1184,1088],"typeVersion":1,"id":"f629adf0-736a-40d3-bab1-8284cee1a72f","name":"Sticky Note96"},{"parameters":{"content":"### Webhook Respon Tombol Hapus File","height":192},"type":"n8n-nodes-base.stickyNote","position":[1424,1088],"typeVersion":1,"id":"d46c9f64-4fb0-40b6-9e78-ea22d6a8f410","name":"Sticky Note98"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ DateTime.now().setZone('Asia/Tokyo').setLocale('id').toFormat('dd_MM_yyyy_HH_mm_ss') + '_' + ($json.data_web.user.data_surat.pemohon.nama).trim().replace(/\\s+/g,'-').toUpperCase() + '_' + ($json.data_web.user.data_surat.pemohon.nik) }}\n"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1024,1136],"id":"ad1ed0da-50c4-4f20-b07f-06045c0452df","name":"bbbb4","notesInFlow":true},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('bbbb3').item.json.data_web.admin1.id.json }}","mode":"id"},"changeFileContent":true,"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1248,1136],"id":"17ba466a-9a5f-400f-8dd4-1f10b97e1ff5","name":"bbbb5","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"qASLQ3y3wNxv5b2Z","name":"Google Drive account"}}},{"parameters":{"respondWith":"text","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1504,1136],"id":"6835e063-5979-4822-a250-b89d6a257663","name":"bbbb6"},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/b58bfd84-a22c-43e8-9f1f-65543e4e0356","sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"=Saya Minta Id Surat SKTM {{ $json.data_web.user.data_surat.pemohon.kampung_kelurahan }}\nRespon Hanya berikan Id Tanpa Menambahkan Apapun"},{"name":"System Message","value":"=Gunakan \"Surat SKTM {{ $json.data_web.user.data_surat.pemohon.kampung_kelurahan }}\" Untuk Mendapatkan Id Yang Di Minta"},{"name":"File Name","value":"=SKTM - {{ $json.data_web.user.data_surat.pemohon.nama }}"},{"name":"Parent Folder","value":"={{ $json.data_web.admin1.id.folder }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[320,1376],"id":"393b4ca2-5106-47df-a9ea-32da1748f2e0","name":"bbbb7","notesInFlow":true},{"parameters":{"dataTableId":{"__rl":true,"value":"6W3on0nN3Gmmij5S","mode":"list","cachedResultName":"Data Id","cachedResultUrl":"/projects/MsnmAoT3kpqQYaku/datatables/6W3on0nN3Gmmij5S"},"columns":{"mappingMode":"defineBelow","value":{"Short_Id":"={{$json.output.substring(3)}}","Full_Id":"={{ $json.output }}","Url":"=https://distrikwania.com/download/{{$json.output.substring(3)}}\n"},"matchingColumns":[],"schema":[{"id":"Short_Id","displayName":"Short_Id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Full_Id","displayName":"Full_Id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Url","displayName":"Url","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[544,1376],"id":"69ba9b16-8be8-4eb4-8d52-fb8b4360df7a","name":"bbbb8","notesInFlow":true},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/964f9e9d-8a03-47e9-b097-1284c8665bf1","sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"=Buatkan Surat SKTM  {{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }}\nRespon Wajib Hanya Berhasil Atau Gagal"},{"name":"System Message","value":"=Wajib Gunakan \"Surat SKTM  {{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }}\" Untuk Membuat Surat SKTM"},{"name":"Id Surat SKTM","value":"={{ $('bbbb7').item.json.output }}"},{"name":"Tanggal Surat","value":"={{ DateTime.now().setZone('Asia/Tokyo').setLocale('id').toFormat('dd MMMM yyyy') }}"},{"name":"Pemerintah Kabupaten","value":"={{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.pemerintah_kabupaten.toUpperCase() }}"},{"name":"Distrik","value":"={{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.distrik.toUpperCase() }}"},{"name":"Kampung Kelurahan","value":"={{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan.toUpperCase() }}"},{"name":"Alamat Kantor","value":"={{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.alamat.toLowerCase().toTitleCase() }}"},{"name":"Provinsi","value":"={{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.provinsi.toLowerCase().toTitleCase() }}"},{"name":"Kode Pos","value":"={{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.kode_pos }}"},{"name":"Email","value":"={{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.email.toLowerCase().toTitleCase() }}"},{"name":"Nomor Surat","value":"={{ $('bbbb2').item.json.data_web.admin1.nomor_surat }}"},{"name":"Keterangan SKTM Nomor 1","value":"={{ $('bbbb2').item.json.data_web.admin1.data_surat.keterangan_sktm.keterangan_1 }}"},{"name":"Keterangan SKTM Nomor 2","value":"={{ $('bbbb2').item.json.data_web.admin1.data_surat.keterangan_sktm.keterangan_2 }}"},{"name":"Keterangan SKTM Nomor 3","value":"={{ $('bbbb2').item.json.data_web.admin1.data_surat.keterangan_sktm.keterangan_3 }}"},{"name":"Keterangan SKTM Nomor 4","value":"={{ $('bbbb2').item.json.data_web.admin1.data_surat.keterangan_sktm.keterangan_4 }}"},{"name":"Keterangan SKTM Nomor 5","value":"={{ $('bbbb2').item.json.data_web.admin1.data_surat.keterangan_sktm.keterangan_5 }}"},{"name":"Nama Pemohon","value":"={{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nama.toLowerCase().toTitleCase() }}"},{"name":"NIK Pemohon","value":"={{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nik }}"},{"name":"TTL Pemohon","value":"={{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.ttl.toLowerCase().toTitleCase() }}"},{"name":"Agama Pemohon","value":"={{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.agama.toLowerCase().toTitleCase() }}"},{"name":"Jenis Kelamin Pemohon","value":"={{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.jenis_kelamin.toLowerCase().toTitleCase() }}"},{"name":"Status Perkawinan Pemohon","value":"={{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.status_perkawinan.toLowerCase().toTitleCase() }}"},{"name":"Pekerjaan Pemohon","value":"={{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.pekerjaan.toLowerCase().toTitleCase() }}"},{"name":"Alamat Pemohon","value":"={{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.alamat.toLowerCase().toTitleCase() }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[800,1376],"id":"496500c6-5e5f-48f0-9acd-9c03d87e163c","name":"bbbb9","notesInFlow":true},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/f2f28bb3-372d-438c-b8b4-8a1bfca494a8-kirim-surat","sendBody":true,"bodyParameters":{"parameters":[{"name":"Id Surat","value":"={{ $('bbbb7').item.json.output }}"},{"name":"Nama Surat","value":"=SKTM - {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nama }} - {{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }}"},{"name":"Chat Id","value":"={{ $('bbbb2').item.json.data_web.admin1.whatsapp.chat_id }}"},{"name":"Session","value":"={{ $('bbbb2').item.json.data_web.admin1.whatsapp.session }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1040,1376],"id":"514d6418-d76f-42ce-9f54-325a685cf465","name":"bbbb10","notesInFlow":true},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/8a3a0e85-86cc-47f6-9ad6-b73c0a5795c8","sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"=Kirim Pesan \n\nKepada Yth.\nBapak Kepala {{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }}🌿\n\nDengan hormat,\nDisampaikan bahwa Permohonan Surat Keterangan Tidak Mampu (SKTM) atas nama warga berikut:\n\nNama : {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nama }}\nNik : {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nik }}\nKontak : {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nomor_hp }}\nKeperluan : {{ $('bbbb2').item.json.data_web.user.data_surat.perihal }}\nNomor Surat : {{ $('bbbb2').item.json.data_web.admin1.nomor_surat }}\n\nTelah ditandatangani oleh Bapak {{ $('bbbb2').item.json.data_web.admin1.data_surat.admin.jabatan }} dan diteruskan kepada Kepala {{ $('bbbb2').item.json.data_web.admin2.data_surat.kop.distrik }} untuk ditindaklanjuti.\n\nSebagai arsip, dokumen SKTM - {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nama }} - {{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }} dapat diunduh melalui tautan berikut:\n🔗 https://distrikwania.com/download/{{ $('bbbb8').item.json.Short_Id }}\n\nAtas perhatian dan kerja sama, disampaikan terima kasih.\nSemoga Tuhan Yang Maha Kuasa senantiasa memberkati setiap tugas dan pelayanan.\n\nHormat kami,\nKawe Nia\nAsisten Digital Distrik Wania\n\nGunakan Tool Contac Untuk Ambil Data Berdasarkan \nKampung_Kelurahan = {{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }}\nAmbil Data \nChat_Id_WhatsApp_Kepala_Kampung_Kelurahan dan\nSession_WhatsApp_Kepala_Kampung_Kelurahan \nGunakan Tool Pesan Untuk Kirim Pesan\n\nRespon Hanya\nBerhasil Atau gagal"},{"name":"System Message","value":"=Wajib Gunakan \"Tool Pesan\" Untuk Kirim Pesan\nSebelum Kirim Pesan Wajib Rapikan Agar Lebih Rapih Dan Lebih Formal"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,1376],"id":"cb6c6693-dc81-4aed-a5c7-445c53ddf5b1","name":"bbbb11","notesInFlow":true,"notes":" "},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/f2f28bb3-372d-438c-b8b4-8a1bfca494a8-kirim-surat","sendBody":true,"bodyParameters":{"parameters":[{"name":"Id Surat","value":"={{ $('bbbb7').item.json.output }}"},{"name":"Nama Surat","value":"=SKTM MASUK - {{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }} - {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nama }}"},{"name":"Chat Id","value":"={{ $('bbbb2').item.json.data_web.admin2.whatsapp.chat_id }}"},{"name":"Session","value":"={{ $('bbbb2').item.json.data_web.admin2.whatsapp.session }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[320,1616],"id":"b9c5cae1-1bed-44bc-bf01-66b9d8c84ce0","name":"bbbb12","notesInFlow":true},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/8a3a0e85-86cc-47f6-9ad6-b73c0a5795c8","sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"=Kirim Pesan \n\nKepada Yth.\nIbu Kepala {{ $('bbbb2').item.json.data_web.admin2.data_surat.kop.distrik }}🌸\n\nDengan hormat,\nDisampaikan bahwa Permohonan Surat Keterangan Tidak Mampu (SKTM) atas nama warga berikut:\n\nNama : {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nama }}\nNik : {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nik }}\nKontak : {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nomor_hp }}\nKeperluan : {{ $('bbbb2').item.json.data_web.user.data_surat.perihal }}\nNomor Surat : {{ $('bbbb2').item.json.data_web.admin2.nomor_surat }}\n\nTelah ditandatangani oleh {{ $('bbbb2').item.json.data_web.admin1.data_surat.admin.jabatan }} dan diteruskan kepada Ibu Kepala {{ $('bbbb2').item.json.data_web.admin2.data_surat.kop.distrik }} untuk ditindaklanjuti.\n\nDokumen untuk ditandatangani ✍️ dapat diakses di sini:\n🔗 https://distrikwania.com/data/{{ $('bbbb2').item.json.data_web.admin2.id.html.substring(3) }}\n\nDokumen SKTM masuk dapat diunduh melalui tautan berikut:\n🔗 https://distrikwania.com/download/{{ $('bbbb8').item.json.Short_Id }}\n\nAtas perhatian dan kerja sama, disampaikan terima kasih.\nSemoga Tuhan Yang Maha Kuasa senantiasa memberkati setiap tugas dan pelayanan.\n\nHormat kami,\nKawe Nia\nAsisten Digital Distrik Wania\n\nGunakan Tool Contac Untuk Ambil Data Berdasarkan \nKampung_Kelurahan = {{ $('bbbb2').item.json.data_web.admin2.data_surat.kop.distrik }}\nAmbil Data \nChat_Id_WhatsApp_Kepala_Kampung_Kelurahan dan\nSession_WhatsApp_Kepala_Kampung_Kelurahan \nGunakan Tool Pesan Untuk Kirim Pesan\n\nRespon Hanya\nBerhasil Atau gagal"},{"name":"System Message","value":"=Wajib Gunakan \"Tool Pesan\" Untuk Kirim Pesan\nSebelum Kirim Pesan Wajib Rapikan Agar Lebih Rapih Dan Lebih Formal"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,1616],"id":"82c64a1a-ce69-4dcd-9932-049cd5a91413","name":"bbbb13","notesInFlow":true,"notes":" "},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/f2f28bb3-372d-438c-b8b4-8a1bfca494a8-kirim-surat","sendBody":true,"bodyParameters":{"parameters":[{"name":"Id Surat","value":"={{ $('bbbb7').item.json.output }}"},{"name":"Nama Surat","value":"=SKTM - {{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }} - {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nama }}"},{"name":"Chat Id","value":"={{ $('bbbb2').item.json.data_web.user.whatsapp.chat_id }}"},{"name":"Session","value":"={{ $('bbbb2').item.json.data_web.user.whatsapp.session }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[800,1616],"id":"2b8cd659-0544-4e56-85b8-9c93404c85fc","name":"bbbb14","notesInFlow":true},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/8a3a0e85-86cc-47f6-9ad6-b73c0a5795c8","sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"=Kirim Pesan \n\nHalo {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nama }}\nDisampaikan bahwa Surat Keterangan Tidak Mampu (SKTM) atas nama {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nama }} perihal {{ $('bbbb2').item.json.data_web.user.data_surat.perihal }} telah ditandatangani oleh {{ $('bbbb2').item.json.data_web.admin1.data_surat.admin.jabatan }} ✍️ dan saat ini telah di teruskan dan diterima oleh Kepala {{ $('bbbb2').item.json.data_web.admin2.data_surat.kop.distrik }} untuk proses tindak lanjut.\n\nMohon menunggu informasi selanjutnya.\nDokumen SKTM - {{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }} - {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nama }} dapat di download melalui tautan berikut:\n🔗 https://distrikwania.com/download/{{ $('bbbb8').item.json.Short_Id }}\n\nAtas perhatian dan kerja samanya, diucapkan terima kasih 🙏\n\nkirim pesan ke nomor ini \nChat Id WhatsApp = {{ $('bbbb2').item.json.data_web.user.whatsapp.chat_id }}\nSession WhatsApp = {{ $('bbbb2').item.json.data_web.user.whatsapp.session }}\nRespon Hanya\nBerhasil Atau gagal"},{"name":"System Message","value":"=Wajib Gunakan \"Tool Pesan\" Untuk Kirim Pesan\nSebelum Kirim Pesan Wajib Rapikan Agar Lebih Rapih Dan Lebih Formal"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,1616],"id":"e9a792c8-6ce1-4e7c-8b64-5ce43bfdb769","name":"bbbb15","notesInFlow":true,"notes":" "},{"parameters":{"content":"","height":656,"width":2016},"type":"n8n-nodes-base.stickyNote","position":[-160,-128],"typeVersion":1,"id":"17887531-a4ca-44e1-9bac-d810d5ba9340","name":"Sticky Note101"},{"parameters":{"content":"# SKTM Web Admin 1\n# Tombol Hapus Surat","height":112,"width":368},"type":"n8n-nodes-base.stickyNote","position":[624,-112],"typeVersion":1,"id":"715b23cd-5c67-410d-a709-6b3cfd117e65","name":"Sticky Note102"},{"parameters":{"content":"### Tool Decript Data\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/bkujltHTudpMwHrU","height":192},"type":"n8n-nodes-base.stickyNote","position":[112,32],"typeVersion":1,"id":"8f6a38c8-724d-43cd-a213-6f1d06ed86c8","name":"Sticky Note104"},{"parameters":{"assignments":{"assignments":[{"id":"8f2f901f-ceb7-4805-98a6-ce408596a705","name":"data[0].data_web.user.tanggal","value":"={{ $json.data[0].data_web.user.tanggal }}","type":"string"},{"id":"50fc487b-7406-4d61-9664-f89b1b95f680","name":"data[0].data_web.user.nomor_surat","value":"={{ $json.data[0].data_web.user.nomor_surat }}","type":"string"},{"id":"ef4d90fd-1bf1-410f-b629-2b4a4881a5f8","name":"data[0].data_web.user.id","value":"={{ $json.data[0].data_web.user.id }}","type":"object"},{"id":"1d25235a-0b9a-42b4-a1d3-ec506cc10ca7","name":"data[0].data_web.user.data_surat","value":"={{ $json.data[0].data_web.user.data_surat }}","type":"object"},{"id":"ee90bb93-8c6d-41fa-922b-274b99bf6ca6","name":"data[0].data_web.user.whatsapp","value":"={{ $json.data[0].data_web.user.whatsapp }}","type":"object"},{"id":"d9d3492f-5402-4365-81be-6cdef86d052e","name":"data[0].data_web.user.logo","value":"={{ $json.data[0].data_web.user.logo }}","type":"string"},{"id":"1edef758-b513-411c-b91e-46138a262d86","name":"data[0].data_web.user.tombol","value":"={{ $json.data[0].data_web.user.tombol }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1616,80],"id":"0b2b211a-3055-41e2-89f7-7a44e7c1537d","name":"f7","notesInFlow":true},{"parameters":{"httpMethod":"POST","path":"935fa90a-a07d-45bb-9e13-ba23b07fdf52","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-64,80],"id":"22bb5556-d977-4d32-82ee-eb729a8275d9","name":"bb","webhookId":"646a0ac9-0b1c-4283-ae20-fe42f0ad4384"},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/3bb4e66e-e354-415c-87d8-25631fd005a5-decript-data","sendBody":true,"bodyParameters":{"parameters":[{"name":"data","value":"={{ $json.body.data }}"},{"name":"key","value":"={{ $json.body.key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,80],"id":"d5c2b503-b87a-406b-9694-90564f9baacd","name":"bb1","notesInFlow":true},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,80],"id":"e8cd6999-8114-42c1-95a9-52e2eed294ed","name":"bb2","notesInFlow":true},{"parameters":{"method":"DELETE","url":"=https://www.googleapis.com/drive/v3/files/{{ $json.data_web.admin1.id.html }}?supportsAllDrives=true","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,80],"id":"40c6c060-9b27-4220-953a-586e9b94235a","name":"bb3","notesInFlow":true,"credentials":{"googleOAuth2Api":{"id":"jXbDn3iYmSleWrn8","name":"Google account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"DELETE","url":"=https://www.googleapis.com/drive/v3/files/{{ $('bb2').item.json.data_web.admin1.id.folder }}?supportsAllDrives=true","authentication":"predefinedCredentialType","nodeCredentialType":"googleOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[896,80],"id":"f5f38ac7-fb4c-42bf-a081-d8929baeade3","name":"bb4","notesInFlow":true,"credentials":{"googleOAuth2Api":{"id":"jXbDn3iYmSleWrn8","name":"Google account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('bb2').item.json.data_web.user.id.json }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1136,80],"id":"de3eb0b0-5f7a-4cf6-a28a-9e1238222383","name":"bb5","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"qASLQ3y3wNxv5b2Z","name":"Google Drive account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1376,80],"id":"f6c09fb7-e990-45d0-beac-3f8464220395","name":"bb6","notesInFlow":true},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/0b03dc2d-0d53-4066-a82b-5828946439cb-update-json","sendQuery":true,"queryParameters":{"parameters":[{"name":"Id File"},{"name":"Nama File"},{"name":"Lokasi File"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json,null,2) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,320],"id":"044feb93-fd96-40c4-811c-33b2139fd799","name":"bb7","notesInFlow":true},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[784,320],"id":"a29824d1-34bf-4c8d-aaaf-e1c4998af6a5","name":"bb8"},{"parameters":{"content":"### Webhook Input Tombol Hapus Surat\n","height":192},"type":"n8n-nodes-base.stickyNote","position":[-128,32],"typeVersion":1,"id":"427c5ea3-30c9-46d2-ba7f-d726773b46a1","name":"Sticky Note136"},{"parameters":{"content":"### Format Data","height":192},"type":"n8n-nodes-base.stickyNote","position":[352,32],"typeVersion":1,"id":"218af76f-1779-4b6b-b30f-21f59fe8e546","name":"Sticky Note137"},{"parameters":{"content":"### Hapus Web","height":192},"type":"n8n-nodes-base.stickyNote","position":[592,32],"typeVersion":1,"id":"b864c6f9-3ffc-471e-9eba-12f3af2fb488","name":"Sticky Note138"},{"parameters":{"content":"### Hapus Folder\n\n\n\n\n\n\n\n### ","height":192},"type":"n8n-nodes-base.stickyNote","position":[832,32],"typeVersion":1,"id":"bb70bbc8-87c8-4320-87fa-1966d85bc11f","name":"Sticky Note139"},{"parameters":{"content":"### Download Data SKTM User\n\n","height":192},"type":"n8n-nodes-base.stickyNote","position":[1072,32],"typeVersion":1,"id":"34597528-d88a-4afc-8875-0696a513ec58","name":"Sticky Note140"},{"parameters":{"content":"### Convert File To Json\n","height":192},"type":"n8n-nodes-base.stickyNote","position":[1312,32],"typeVersion":1,"id":"8a3c745a-8a68-41f5-b440-b9639a3cdef4","name":"Sticky Note141"},{"parameters":{"content":"### Edit Data SKTM User\n","height":192},"type":"n8n-nodes-base.stickyNote","position":[1552,32],"typeVersion":1,"id":"a3d19d04-dbc8-4f85-b05d-ffc274d1fcc6","name":"Sticky Note142"},{"parameters":{"content":"### Tool Update json\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/m26iXk3EPtsefvLz","height":192},"type":"n8n-nodes-base.stickyNote","position":[496,272],"typeVersion":1,"id":"0b15bad3-99d2-4222-a9a0-6bab2a4abf88","name":"Sticky Note143"},{"parameters":{"content":"### Webhook Respon Tombol Hapus Surat","height":192},"type":"n8n-nodes-base.stickyNote","position":[736,272],"typeVersion":1,"id":"875b6ea2-29e8-49d7-b3b5-aae385496cf3","name":"Sticky Note144"},{"parameters":{"content":"### AI Agent Pesan Surat\n\n\n\n\n\n\n\n### https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/Jbrrovhpr14NZBcM","height":192},"type":"n8n-nodes-base.stickyNote","position":[1184,1568],"typeVersion":1,"id":"689242f7-4abe-42b8-8702-2643955dccfb","name":"Sticky Note146"},{"parameters":{"method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/8a3a0e85-86cc-47f6-9ad6-b73c0a5795c8","sendBody":true,"bodyParameters":{"parameters":[{"name":"Prompt","value":"=Kirim Pesan \n\nKepada Yth.\nOperator {{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }}🌸\n\nDengan hormat,\nDisampaikan bahwa Permohonan Surat Keterangan Tidak Mampu (SKTM) atas nama warga berikut:\n\nPemohon:\nNama : {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nama }}\nNik : {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nik }}\nKontak : {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nomor_hp }}\nKeperluan : {{ $('bbbb2').item.json.data_web.user.data_surat.perihal }}\nNomor Surat : {{ $('bbbb2').item.json.data_web.admin1.nomor_surat }}\n\nTelah ditandatangani oleh Kepala Kampung dan diteruskan kepada Kepala Distrik Wania untuk ditindaklanjuti.\n\nSebagai arsip, SKTM - {{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }} - {{ $('bbbb2').item.json.data_web.user.data_surat.pemohon.nama }} dapat diunduh melalui tautan berikut:\n🔗 https://distrikwania.com/download/{{ $('bbbb8').item.json.Short_Id }}\n\nAtas perhatian dan kerja sama, disampaikan terima kasih.\nSemoga Tuhan Yang Maha Kuasa senantiasa memberkati setiap tugas dan pelayanan.\n\nHormat kami,\nKawenia\nAsisten Digital Distrik Wania\n\nGunakan Tool Contac Untuk Ambil Data Berdasarkan \nKampung_Kelurahan = {{ $('bbbb2').item.json.data_web.admin1.data_surat.kop.kampung_kelurahan }}\nAmbil Data \nChat_Id_WhatsApp_Operator_Kampung_Kelurahan dan\nSession_WhatsApp_Operator_Kampung_Kelurahan \nGunakan Tool Pesan Untuk Kirim Pesan\n\nRespon Hanya\nBerhasil Atau gagal"},{"name":"System Message","value":"=Wajib Gunakan \"Tool Pesan\" Untuk Kirim Pesan\nSebelum Kirim Pesan Wajib Rapikan Agar Lebih Rapih Dan Lebih Formal"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,1616],"id":"0d2784c0-dd3d-4b57-8789-e8163007c5f0","name":"bbbb17","notesInFlow":true,"notes":" "}],"connections":{"bbb1":{"main":[[{"node":"bbb2","type":"main","index":0}]]},"bbb2":{"main":[[{"node":"bbb3","type":"main","index":0}]]},"bbb3":{"main":[[{"node":"bbb4","type":"main","index":0}]]},"bbb4":{"main":[[{"node":"bbb5","type":"main","index":0}]]},"bbb5":{"main":[[{"node":"bbb6","type":"main","index":0}]]},"bbbb":{"main":[[{"node":"bbbb1","type":"main","index":0}]]},"bbbb1":{"main":[[{"node":"bbbb2","type":"main","index":0}]]},"bbbb2":{"main":[[{"node":"bbbb3","type":"main","index":0},{"node":"bbbb7","type":"main","index":0}]]},"bbbb3":{"main":[[{"node":"bbbb4","type":"main","index":0}]]},"bbbb4":{"main":[[{"node":"bbbb5","type":"main","index":0}]]},"bbbb5":{"main":[[{"node":"bbbb6","type":"main","index":0}]]},"bbbb7":{"main":[[{"node":"bbbb8","type":"main","index":0}]]},"bbbb8":{"main":[[{"node":"bbbb9","type":"main","index":0}]]},"bbbb9":{"main":[[{"node":"bbbb10","type":"main","index":0}]]},"bbbb10":{"main":[[{"node":"bbbb11","type":"main","index":0}]]},"bbbb11":{"main":[[{"node":"bbbb12","type":"main","index":0}]]},"bbbb12":{"main":[[{"node":"bbbb13","type":"main","index":0}]]},"bbbb13":{"main":[[{"node":"bbbb14","type":"main","index":0}]]},"bbbb14":{"main":[[{"node":"bbbb15","type":"main","index":0}]]},"bbbb15":{"main":[[{"node":"bbbb17","type":"main","index":0}]]},"f7":{"main":[[{"node":"bb7","type":"main","index":0}]]},"bb1":{"main":[[{"node":"bb2","type":"main","index":0}]]},"bb2":{"main":[[{"node":"bb3","type":"main","index":0}]]},"bb3":{"main":[[{"node":"bb4","type":"main","index":0}]]},"bb4":{"main":[[{"node":"bb5","type":"main","index":0}]]},"bb5":{"main":[[{"node":"bb6","type":"main","index":0}]]},"bb6":{"main":[[{"node":"f7","type":"main","index":0}]]},"bb7":{"main":[[{"node":"bb8","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"a254230c-70e9-4d08-8462-cf10f8b85cfb","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-15T07:28:45.358Z","createdAt":"2026-03-15T07:28:45.358Z","role":"workflow:owner","workflowId":"Q3zPYhnLHHy2qwwn","projectId":"0m3xh9kLZZq6IdQX","project":{"updatedAt":"2026-03-14T06:08:13.540Z","createdAt":"2026-03-14T06:06:28.238Z","id":"0m3xh9kLZZq6IdQX","name":"Agung Temorubun <agunghenditemorubun@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a6d81ab8-2dad-4c25-86eb-1e45b549b1e7"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-15T07:28:45.427Z","createdAt":"2026-03-15T07:28:45.427Z","id":"JkNTtHPcoxF11zfx","name":"Kirim Surat Inauga - Tool","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Folder\n### **[Surat - Parent Tools](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/wMqpBH76VI37ALTy)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kelurahan Inauga](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/ljdkzS7nxWozXp95/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/QmNJt19AbqrxTHd8/workflows) / [Tools](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/Ne5HrPv8l2si5Klr/workflows) / [Kirim Surat Inauga - Tool]()** ","height":112,"width":1472},"type":"n8n-nodes-base.stickyNote","position":[-512,-160],"typeVersion":1,"id":"12acbe98-20d9-4972-8306-6e1ddfc025fc","name":"Sticky Note2"},{"parameters":{"content":"","height":224,"width":1472},"type":"n8n-nodes-base.stickyNote","position":[-512,-48],"typeVersion":1,"id":"813a06b6-a431-4860-be92-fb12aa0348b6","name":"Sticky Note3"},{"parameters":{"content":"### Webhook Input","height":192},"type":"n8n-nodes-base.stickyNote","position":[-496,-32],"typeVersion":1,"id":"b3ecaec3-a993-4806-ae03-19f0eaa8d604","name":"Sticky Note130"},{"parameters":{"content":"### Format Json\n","height":192},"type":"n8n-nodes-base.stickyNote","position":[-256,-32],"typeVersion":1,"id":"41a638e0-5784-4dcf-96b2-5fc7e63dd694","name":"Sticky Note131"},{"parameters":{"content":"### Download File Convert PDF","height":192},"type":"n8n-nodes-base.stickyNote","position":[-16,-32],"typeVersion":1,"id":"a1b55585-0d44-4956-bfef-1080c6d03b8f","name":"Sticky Note132"},{"parameters":{"content":"### Covert Binari To String Base 64","height":192},"type":"n8n-nodes-base.stickyNote","position":[224,-32],"typeVersion":1,"id":"0a6c6df4-57c2-422e-bf76-572c0b3e6817","name":"Sticky Note133"},{"parameters":{"content":"### WhatsApp Kirim File","height":192},"type":"n8n-nodes-base.stickyNote","position":[464,-32],"typeVersion":1,"id":"2483c251-5618-4cc6-9cc8-8fc7d236ddea","name":"Sticky Note134"},{"parameters":{"content":"### Webhook Respon","height":192},"type":"n8n-nodes-base.stickyNote","position":[704,-32],"typeVersion":1,"id":"7e00bce7-a0ac-4064-9016-3dc4fc2e96c3","name":"Sticky Note135"},{"parameters":{"httpMethod":"POST","path":"009e8094-3f17-4b28-9428-0f641d96e779","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-432,16],"id":"f53b39f2-f0aa-4865-b2e3-4e8684589d6d","name":"a","webhookId":"f2f28bb3-372d-438c-b8b4-8a1bfca494a8"},{"parameters":{"assignments":{"assignments":[{"id":"dd489832-eeb3-422e-97d2-9eb41aa079cb","name":"Id Surat","value":"={{ $json.body['Id Surat'] }}","type":"string"},{"id":"3d3582be-ba93-4dae-ba02-97549672db54","name":"Nama Surat","value":"={{ $json.body['Nama Surat'] }}","type":"string"},{"id":"70af23ee-13eb-4d8d-ac15-1e556e380ade","name":"Chat Id","value":"={{ $json.body['Chat Id'] }}","type":"string"},{"id":"1560fe0a-7eb1-4c14-b96c-cf061036a836","name":"Session","value":"={{ $json.body.Session }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,16],"id":"c47c7fc8-7296-4938-b1a6-cc3de8e1dd38","name":"a1","notesInFlow":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json['Id Surat'] }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/pdf","drawingsToFormat":"application/pdf","slidesToFormat":"application/pdf","sheetsToFormat":"application/pdf"}}}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[48,16],"id":"185080bb-d7c3-43f2-a54c-a2db2d81edfd","name":"a2","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"qASLQ3y3wNxv5b2Z","name":"Google Drive account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[304,16],"id":"405a4c20-b6a2-4a0f-9399-9ab46ec83e39","name":"a3","notesInFlow":true},{"parameters":{"resource":"Chatting","operation":"Send File","session":"={{ $('a1').item.json.Session }}","chatId":"={{ $('a1').item.json['Chat Id'] }}","file":"={\n  \"mimetype\": \"{{ $('a2').item.binary.data.mimeType }}\",\n  \"filename\": \"{{ $('a1').item.json['Nama Surat'] }}\",\n  \"data\": \"{{ $json.data }}\"\n}\n","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-waha.WAHA","typeVersion":202502,"position":[528,16],"id":"80223981-59ef-4f00-b3ff-aa4482c9ed44","name":"a4","notesInFlow":true,"credentials":{"wahaApi":{"id":"uivlaHVGkUY1vyJT","name":"WAHA account"}}},{"parameters":{"respondWith":"text","responseBody":"succes","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[752,16],"id":"ab4d7436-35a5-4079-bbe0-131681966b72","name":"a5"}],"connections":{"a":{"main":[[{"node":"a1","type":"main","index":0}]]},"a1":{"main":[[{"node":"a2","type":"main","index":0}]]},"a2":{"main":[[{"node":"a3","type":"main","index":0}]]},"a3":{"main":[[{"node":"a4","type":"main","index":0}]]},"a4":{"main":[[{"node":"a5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"4a285d2d-b770-4380-953a-fc1643986d6c","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-15T07:28:45.431Z","createdAt":"2026-03-15T07:28:45.431Z","role":"workflow:owner","workflowId":"JkNTtHPcoxF11zfx","projectId":"0m3xh9kLZZq6IdQX","project":{"updatedAt":"2026-03-14T06:08:13.540Z","createdAt":"2026-03-14T06:06:28.238Z","id":"0m3xh9kLZZq6IdQX","name":"Agung Temorubun <agunghenditemorubun@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a6d81ab8-2dad-4c25-86eb-1e45b549b1e7"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-03-15T07:28:45.444Z","createdAt":"2026-03-15T07:28:45.444Z","id":"bBfLqx4tYWpUErpc","name":"Pesan Surat Inauga - Sub AI Agent","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Folder\n### **[Surat - Parent Tools](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/wMqpBH76VI37ALTy)**\n**[Personal](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/workflows) / [AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/RJ0aqPfSZH7rl0mZ/workflows) / [AI Agent Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/CI3fqBT9tUXca4Mh/workflows) / [Surat Kelurahan Inauga](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/ljdkzS7nxWozXp95/workflows) / [Surat Keterangan Tidak Mampu](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/QmNJt19AbqrxTHd8/workflows) / [Sub AI Agent](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/projects/MsnmAoT3kpqQYaku/folders/udqF30aHYp6CpomS/workflows) / [Pesan Surat Inauga - Sub AI Agent]()** ","height":112,"width":1056},"type":"n8n-nodes-base.stickyNote","position":[-544,-80],"typeVersion":1,"id":"f19ea3f4-b324-4f6c-80a4-1dd155060375","name":"Sticky Note2"},{"parameters":{"toolDescription":"Gunakan Ini Untuk Kirim Pesan","method":"POST","url":"https://waha-vdgnbkmlxfqn.mangga.sumopod.my.id/api/sendText","authentication":"predefinedCredentialType","nodeCredentialType":"wahaApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $fromAI('session_whatsapp', `session WhatsApp`, 'string') }}"},{"name":"chatId","value":"={{ $fromAI('chatId_whatsapp', `chatId whatsapp Wajib Format 628xxx@c.us`, 'string') }}"},{"name":"text","value":"={{ $fromAI('Message', ``, 'string') }}"},{"name":"linkPreview","value":"false"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-176,352],"id":"63d3b484-6177-4457-a222-f49ecad9f502","name":"Tool Pesan","notesInFlow":true,"credentials":{"wahaApi":{"id":"uivlaHVGkUY1vyJT","name":"WAHA account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-432,352],"id":"e5801b64-5592-4a45-9f29-1d31f087d496","name":"AI","credentials":{"openAiApi":{"id":"Qy11fJqEsEUeag8i","name":"OpenAi account"}}},{"parameters":{"content":"### Webhook Input","height":208},"type":"n8n-nodes-base.stickyNote","position":[-448,64],"typeVersion":1,"id":"2428f366-113d-4b20-9364-25aa3f334814","name":"Sticky Note18"},{"parameters":{"content":"### Sub AI Agent Pesan Surat","height":208,"width":400},"type":"n8n-nodes-base.stickyNote","position":[-208,64],"typeVersion":1,"id":"ed6dcb8a-bf88-4a5c-8310-3a4fecae0e63","name":"Sticky Note29"},{"parameters":{"content":"### Webhook Respon \n\n\n\n\n\n\n\n### ","height":208},"type":"n8n-nodes-base.stickyNote","position":[192,64],"typeVersion":1,"id":"a2b5376d-7dd7-45e6-b29a-b8e99915c87b","name":"Sticky Note31"},{"parameters":{"content":"### AI Model gpt-4.1-mini\n\n\n\n\n\n\n\n### ","height":208},"type":"n8n-nodes-base.stickyNote","position":[-496,288],"typeVersion":1,"id":"83053e21-f086-4329-a512-9e7a30455406","name":"Sticky Note32"},{"parameters":{"content":"### [Tool Kirim Pesan](https://waha-vdgnbkmlxfqn.mangga.sumopod.my.id/api/sendText)","height":208},"type":"n8n-nodes-base.stickyNote","position":[-256,288],"typeVersion":1,"id":"231e6118-bf5b-4ed8-a87c-3ad101394cfb","name":"Sticky Note"},{"parameters":{"content":"","height":480,"width":1056},"type":"n8n-nodes-base.stickyNote","position":[-544,32],"typeVersion":1,"id":"00145e06-5276-4506-8430-31fc98ea6cc4","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"2495f2b4-4218-4d61-ab24-f3f3be8e8e99","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-384,112],"id":"894d5c69-97d2-4a8d-aef0-dc32b3bec5a3","name":"WI","webhookId":"8a3a0e85-86cc-47f6-9ad6-b73c0a5795c8"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[256,112],"id":"12eb0241-2471-4a98-b91c-d0ec61a42a39","name":"WR"},{"parameters":{"documentId":{"__rl":true,"value":"1yNLJjf2TH7nSdQ4Ow5JthXdvjJoZ-MsmaeFY_NHmId4","mode":"list","cachedResultName":"Data Kampung Kelurahan Distrik Wania","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNLJjf2TH7nSdQ4Ow5JthXdvjJoZ-MsmaeFY_NHmId4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1674650147,"mode":"list","cachedResultName":"Contact Inauga","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yNLJjf2TH7nSdQ4Ow5JthXdvjJoZ-MsmaeFY_NHmId4/edit#gid=1674650147"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[304,352],"id":"6b08099a-78d1-48f5-aa0a-9fe934c92f33","name":"Tool Contac","notesInFlow":true,"credentials":{"googleSheetsOAuth2Api":{"id":"0qOTtG6WL8X6yP5q","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"={{ $json.body.Prompt }}","options":{"systemMessage":"={{ $json.body['System Message'] }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-112,112],"id":"56f704f0-dbcf-4140-b810-aa533c897dfa","name":"Sub AI Agent Pesan Surat"},{"parameters":{"content":"### [Tool Kirim Surat](https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/workflow/zEG5SwekAuVSn6VT)","height":208},"type":"n8n-nodes-base.stickyNote","position":[-16,288],"typeVersion":1,"id":"9e8b4d65-85c2-488c-a92b-98b6dd2c1729","name":"Sticky Note4"},{"parameters":{"toolDescription":"Gunakan Ini Untuk Kirim Surat","method":"POST","url":"https://n8n-qz8tp6856ibc.bgxy.sumopod.my.id/webhook/009e8094-3f17-4b28-9428-0f641d96e779","sendBody":true,"bodyParameters":{"parameters":[{"name":"Id Surat","value":"={{ $fromAI('Id_Surat', `Id Surat`, 'string') }}"},{"name":"Nama Surat","value":"={{ $fromAI('Nama_Surat', `Nama Surat`, 'string') }}"},{"name":"Chat Id","value":"={{ $fromAI('chatId', `ChatId WhatsApp Wajib Format 628xxx@c.us`, 'string') }}"},{"name":"Session","value":"={{ $fromAI('Session', `Session WhatsApp`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[64,352],"id":"280859e1-bbe7-4dee-8c53-38e7f2db9725","name":"Tool Surat","notesInFlow":true},{"parameters":{"content":"### [Tool Get Contac](https://docs.google.com/spreadsheets/d/1yNLJjf2TH7nSdQ4Ow5JthXdvjJoZ-MsmaeFY_NHmId4/edit#gid=990168500)","height":208},"type":"n8n-nodes-base.stickyNote","position":[224,288],"typeVersion":1,"id":"f91ef63c-7078-45d3-a59c-dbe271918f12","name":"Sticky Note3"}],"connections":{"Tool Pesan":{"ai_tool":[[{"node":"Sub AI Agent Pesan Surat","type":"ai_tool","index":0}]]},"AI":{"ai_languageModel":[[{"node":"Sub AI Agent Pesan Surat","type":"ai_languageModel","index":0}]]},"WI":{"main":[[{"node":"Sub AI Agent Pesan Surat","type":"main","index":0}]]},"Tool Contac":{"ai_tool":[[{"node":"Sub AI Agent Pesan Surat","type":"ai_tool","index":0}]]},"Sub AI Agent Pesan Surat":{"main":[[{"node":"WR","type":"main","index":0}]]},"Tool Surat":{"ai_tool":[[{"node":"Sub AI Agent Pesan Surat","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"77f635bf-6b83-4106-9a8e-bfe75eb03a80","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-15T07:28:45.447Z","createdAt":"2026-03-15T07:28:45.447Z","role":"workflow:owner","workflowId":"bBfLqx4tYWpUErpc","projectId":"0m3xh9kLZZq6IdQX","project":{"updatedAt":"2026-03-14T06:08:13.540Z","createdAt":"2026-03-14T06:06:28.238Z","id":"0m3xh9kLZZq6IdQX","name":"Agung Temorubun <agunghenditemorubun@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"a6d81ab8-2dad-4c25-86eb-1e45b549b1e7"}}],"versionMetadata":{"name":null,"description":null}}]